mysticeti/v*.log.ansi
mysticeti/dryrun-validator*
mysticeti/target/*
pevm/target/*
pevm/crates/pevm/target/*
mysticeti/logs/*
pevm/crates/pevm/result.txt
# paper LaTeX (kept local, not in code repo)
/results.tex
/results_org.tex
pevm/experiments/rebuttal/artificial/old_schema/
